.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0px;
  &-list {
    display: flex;
    gap: 30px;
    & li {
      list-style: none;
      & a {
        text-decoration: none;
        color: rgba(131, 136, 143, 1);
        font-size: 12px;
        line-height: 15px;
      }
    }
    
  }
}